src/main/resources/azureblobconnector/v1/Customer.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.batch.orders/batchorderservice/v1/BatchOrderRequest"
        targetNamespace="http://com.batch.orders/batchorderservice/v1/BatchOrderRequest" elementFormDefault="unqualified">
    <include schemaLocation="Address.xsd"/>

    <element name="Customer" type="tns:Customer"/>
    <complexType name="Customer">
        <sequence>
            <element name="CustomerName" type="string"/>
            <element name="CustomerContact" type="string"/>
            <element name="CustomerAddress" type="tns:Address" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
</schema>