src/main/resources/azureblobconnector/v1/Product.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.batch.orders/batchorderservice/v1/BatchOrderRequest"
        targetNamespace="http://com.batch.orders/batchorderservice/v1/BatchOrderRequest" elementFormDefault="unqualified">
    <element name="Product" type="tns:Product"/>

    <complexType name="Product">
        <sequence>
            <element name="ProductID" type="string" minOccurs="1"/>
            <element name="ProductDescription" type="string" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>